#box0 {
  top: 100px;
  left: 20px;
  background-position: left top;
}
#box1 {
  top: 100px;
  left: 145px;
  background-position: top center;
}
#box2 {
  top: 100px;
  left: 270px;
  background-position: right top;
}
#box3 {
  top: 225px;
  left: 20px;
  background-position: left center;
}
#box4 {
  top: 225px;
  left: 145px;
  background-position: center;
}
#box5 {
  top: 225px;
  left: 270px;
  background-position: right center;
}
#box6 {
  top: 350px;
  left: 20px;
  background-position: left bottom;
}
#box7 {
  top: 350px;
  left: 145px;
  background-position: center bottom;
}
#box8 {
  top: 350px;
  left: 270px;
  background-position: right bottom;
}


.box{
  border: 1px solid black;
  position: absolute;
  height: 120px;
  width: 120px;
  background-image: url("/hw4/src/resources/active_image.jpg");
  background-repeat: no-repeat;
}

.selected{
  border: 3px solid red;
}
